<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML content from ejs</title>
    <style>
        h2 {
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body>
    <h2 style="background-color: red !important;">With style</h2>
    <h3>Nama: <%= name %></h3>
    <div style="height: 40px; width: 40px; background-color: red;">
        
    </div>
</body>
</html>